app/receta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receta">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="paciente">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="edad" type="xs:integer"/>
              <xs:element name="genero">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="M"/>
                    <xs:enumeration value="F"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="correo" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="medico">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="cedula" type="xs:string"/>
              <xs:element name="especialidad" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="diagnostico" type="xs:string"/>
        <xs:element name="medicamentos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="medicamento" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="dosis" type="xs:string"/>
                    <xs:element name="frecuencia" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
